# Python
__pycache__/
*.pyc
.venv/
*.pyo
*.pyd
*.env

*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out
Set up GitHub Actions for CI/CD (tests + cdk synth)


# Lambda dependencies
lambdas/PIL/
lambdas/boto3/
lambdas/botocore/
lambdas/urllib3/
lambdas/s3transfer/